* {
    box-sizing: border-box;
}

:root {
    --black: #646262;
    --orange: #FA692F;
    --green: #005968;
}



#sidebar {
    width: 20%;
    padding: 10px;
    margin: 0;
    position: fixed;
    float: left;
}

ul {
    list-style: none;
    padding: 5px;
}

li a {
    color: darkgray;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: darksalmon;
}

.fa-circle {
    font-size: 20px;
}

#red {
    color: #e94545d7;
}

#teal {
    color: rgb(69, 129, 129);
}

#blue {
    color: #0000ff;
}


.filter {
    display: none;
    padding: 0;
    margin: 0;
}


@media(min-width:991px) {

    #mobile-filter {
        display: none;
    }
}

@media(min-width:768px) and (max-width:991px) {
    #mobile-filter {
        display: none;
    }
}

@media(min-width:568px) and (max-width:767px) {

    .fa-circle {
        font-size: 15px;
    }

    #mobile-filter {
        display: none;
    }
}

@media(max-width:768px) {
    #sidebar {
        width: 100%;
        padding: 10px;
        margin: 0;
        float: left;
    }



    .card-img-top {
        width: 230px;
        height: 210px;
    }

    .list-group-item {
        padding: 3px;
    }

    .offset-1 {
        margin-left: 8%;
    }

    .filter {
        display: block;
        margin-left: 70%;
        margin-top: 2%;
    }

    #sidebar {
        display: none;
    }

    #mobile-filter {
        padding: 10px;
    }
}