:root {
    --black: #646262;
    --orange: #FA692F;
    --green: #005968;
}

/* table design */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 3% auto;
}

.table-title {
    color: #eaeaea;
}

th,
td {
    padding: 5px;
    text-align: left;
}

th:first-child,
td:first-child {
    width: 50%;
    text-align: center;
}

th,
td {
    width: 30%;
}

th {
    background-color: #000000;
    color: #ffffff;
    height: 25px;
}

tr:nth-child(even) {
    background-color: #eaeaea;
}

/* size-recommendation */
.size-recommendation {
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
    font-weight: 100;
}

/* underline */
.underline-animation {
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    color: var(--orange);
    font-weight: 800;
}

svg {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: auto;
}

.stroke {
    stroke: var(--green);
    stroke-width: .15em;
    stroke-dasharray: 822;
    stroke-dashoffset: 822;
    animation: underlineAnimation 1.8s 1s linear alternate infinite;
}

@keyframes underlineAnimation {
    from {
        stroke-dashoffset: 822;
    }

    to {
        stroke-dashoffset: 0;
    }
}

/* Loading */
/* Loader #1 by Sam Lillicrap
   https://www.samueljwebdesign.co.uk
   https://codepen.io/samueljweb/pen/LbGxi 
*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,700);



.loading-h1 {
    font-family: "Lato";
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1.5px;
    text-align: center;
    width: 155px;
    margin-top: 20px;
    -webkit-animation: fade 2s infinite;
    -moz-animation: fade 2s infinite;
}

#container-loading {
    width: 180px;
    padding-top: 180px;
    margin: auto;
    vertical-align: middle;
    margin-bottom: 100px;
}

.stick {
    width: 30px;
    height: 5px;
    background: var(--green);
    display: inline-block;
    margin-left: -8px;
}

.stick:nth-child(n) {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    /* IE 9 */
    -webkit-transform: rotate(30deg);
    /* Safari and Chrome */
    -moz-transform: rotate(30deg);
    -webkit-animation: fall 2s infinite;
    -moz-animation: fall 2s infinite;
}

.stick:nth-child(2n) {
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    /* IE 9 */
    -webkit-transform: rotate(-30deg);
    /* Safari and Chrome */
    -moz-transform: rotate(-30deg);
    -webkit-animation: rise 2s infinite;
    -moz-animation: rise 2s infinite;
}

@-webkit-keyframes rise {
    50% {
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
    }
}

@-moz-keyframes rise {
    50% {
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
    }
}

@-o-keyframes rise {
    50% {
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
    }
}

@keyframes rise {
    50% {
        transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        /* IE 9 */
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
    }
}


@-webkit-keyframes fall {
    50% {
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(30deg);
    }
}

@-moz-keyframes fall {
    50% {
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
    }
}

@-o-keyframes fall {
    50% {
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(30deg);
    }
}

@keyframes fall {
    50% {
        transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        /* IE 9 */
        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(30deg);
    }
}


@-webkit-keyframes fade {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}